<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.whcase.dao.CaseFeedMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.whcase.model.CaseFeed" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="case_result" property="caseResult" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, content, case_result, create_time, organization_id, creator
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_case_feed
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCaseId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_case_feed
    where case_id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap"   parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_case_feed
    where case_id = #{caseId,jdbcType=VARCHAR} and organization_id = #{organId,jdbcType=INTEGER}
  </select>
  <select id="getFeedBackOrganById" resultType="com.tianyi.whcase.model.Organ"   parameterType="java.lang.String" >
   SELECT o.id,o.name FROM t_case_feed cf
	left join t_organ o on cf.organization_id = o.id
    where cf.case_id = #{id,jdbcType=VARCHAR} 
  </select>
  <select id="getCaseBackMainInfo"  resultType="com.tianyi.whcase.viewmodel.CaseFeedVM"    parameterType="java.util.Map">
    select 
    cf.id				as id, 
    cf.case_id			as caseId,
     cf.content			as content, 
    cf.case_result		as caseResult, 
    cf.create_time		as createTime, 
    cf.organization_id	as organizationId, 
    cf.creator			as creator,
    c.name 				as caseName,
    o.name 				as organName
    from t_case_feed cf
    left join t_case c on c.id = cf.case_id
    left join t_organ o on cf.organization_id = o.id
    where cf.case_id = #{caseId,jdbcType=VARCHAR}
    <if test="organId >0">
    	and cf.organization_id =  #{organId,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_case_feed
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianyi.whcase.model.CaseFeed" >
    insert into t_case_feed (id, case_id, content, 
      case_result, create_time, organization_id, 
      creator)
    values (#{id,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{caseResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{organizationId,jdbcType=INTEGER}, 
      #{creator,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tianyi.whcase.model.CaseFeed" >
    insert into t_case_feed
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="caseResult != null" >
        case_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="creator != null" >
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="caseResult != null" >
        #{caseResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianyi.whcase.model.CaseFeed" >
    update t_case_feed
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="caseResult != null" >
        case_result = #{caseResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianyi.whcase.model.CaseFeed" >
    update t_case_feed
    set case_id = #{caseId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      case_result = #{caseResult,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      organization_id = #{organizationId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>