<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.whcase.dao.CaseMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.whcase.model.Case" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="categories_id" property="categoriesId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="case_group_id" property="caseGroupId" jdbcType="VARCHAR" />
    <result column="isregister" property="isregister" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="detectedunit_id" property="detectedunitId" jdbcType="INTEGER" />
    <result column="receive_status" property="receiveStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="BaseCUResultMap" type="com.tianyi.whcase.model.CaseUnit" >
    <result column="detectedunit_name" property="text" jdbcType="VARCHAR" />
    <result column="detectedunit_id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseCCResultMap" type="com.tianyi.whcase.model.CaseCategory" >
    <result column="category_name" property="text" jdbcType="VARCHAR" />
    <result column="category_id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap type="com.tianyi.whcase.viewmodel.CaseVM" id="BaseVMResultMap">
  	<id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="categories_id" property="categoriesId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="case_group_id" property="caseGroupId" jdbcType="VARCHAR" />
    <result column="isregister" property="isregister" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="detectedunit_id" property="detectedunitId" jdbcType="INTEGER" />
    <result column="receive_status" property="receiveStatus" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="detectedunit_name" property="detectedunitNname" jdbcType="VARCHAR" />
    <result column="organization_name" property="organizationame" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, creator, create_time, code, categories_id, start_time, summary, status, 
    case_group_id, isregister, level, longitude, latitude, organization_id, detectedunit_id,receive_status
  </sql>
  <sql id="BaseVM_Column_List" >
    a.id, a.name, a.creator, a.create_time, a.code, a.categories_id, a.start_time, a.summary, a.status, 
    a.case_group_id, a.isregister, a.level, a.longitude, a.latitude, a.organization_id, a.detectedunit_id,a.receive_status,
    b.category_name,c.detectedunit_name,d.organization_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_case
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectVMByPrimaryKey" resultMap="BaseVMResultMap" parameterType="java.lang.String" >
    select 
    <include refid="BaseVM_Column_List" />
    from t_case a 
    left join t_case_category_type b on a.categories_id = b.category_id
    left join t_case_detectedunit_type c on a.detectedunit_id = c.detectedunit_id
    left join t_case_organ_type d on a.organization_id = d.organization_id
    where a.id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByReceiveStatus" resultMap="BaseVMResultMap" parameterType="java.lang.Integer" >
  	select 
    <include refid="BaseVM_Column_List" />
    from t_case a
    left join t_case_category_type b on a.categories_id = b.category_id
    left join t_case_detectedunit_type c on a.detectedunit_id = c.detectedunit_id
    left join t_case_organ_type d on a.organization_id = d.organization_id
    where a.receive_status = #{receiveStatus,jdbcType=INTEGER}
  </select>
  <select id="selectVMCountByReceiveStatus" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
  	select 
    count(*)
    from t_case a 
    where a.receive_status = #{receiveStatus,jdbcType=INTEGER}
  </select>
  <select id="selectCaseCategory" resultMap="BaseCCResultMap">
  select 
  	category_id,category_name
  from t_case_category_type
  </select>
  <select id="selectCaseUnit" resultMap="BaseCUResultMap">
  select
   detectedunit_id,detectedunit_name
   from t_case_detectedunit_type
  </select>
  <select id="selectByCaseIdAndReceiveStatus" resultMap="BaseVMResultMap">
  	select
  	<include refid="BaseVM_Column_List" />
    from t_case a 
    left join t_case_category_type b on a.categories_id = b.category_id
    left join t_case_detectedunit_type c on a.detectedunit_id = c.detectedunit_id
    left join t_case_organ_type d on a.organization_id = d.organization_id
    where a.id = #{1} and a.receive_status =#{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_case
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianyi.whcase.model.Case" >
    insert into t_case (id, name, creator, 
      create_time, code, categories_id, 
      start_time, summary, status, 
      case_group_id, isregister, level, 
      longitude, latitude, organization_id, 
      detectedunit_id,receive_status)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, #{categoriesId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{caseGroupId,jdbcType=VARCHAR}, #{isregister,jdbcType=BIT}, #{level,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER}, 
      #{detectedunitId,jdbcType=INTEGER},#{receiveStatus,jdbcType=INTEGER})
  </insert> 
  <update id="updateByPrimaryKey" parameterType="com.tianyi.whcase.model.Case" >
    update t_case
    set name = #{name,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      categories_id = #{categoriesId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=INTEGER},
      detectedunit_id = #{detectedunitId,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateCaseReceiveStatus">
  	update t_case
  	set receive_status = #{0},
  		level = #{1}
  	where id = #{2}
  </update>
  <select id="loaCaselistWithPage" parameterType="java.util.Map"  resultMap="BaseVMResultMap">
  		select <include refid="BaseVM_Column_List" /> 
  		from t_case a 
  		left join t_case_category_type b on a.categories_id = b.category_id
    	left join t_case_detectedunit_type c on a.detectedunit_id = c.detectedunit_id
    	left join t_case_organ_type d on a.organization_id = d.organization_id
  		where a.receive_status = #{receiveStatus,jdbcType=INTEGER}
  		<if test="pageStart !=null">
  		limit #{pageStart,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  		</if>
  </select>
  <select id="countByMap" resultType="java.lang.Integer"   parameterType="java.util.Map" >
  		select count(*) from t_case 
  		where 1=1 
  		<if test="userId!=null">
  			and receive_status = #{receiveStatus,jdbcType=INTEGER}
  		</if>
  </select>
</mapper>