<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.whcase.dao.CaseMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.whcase.model.Case" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="categories_id" property="categoriesId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="case_group_id" property="caseGroupId" jdbcType="VARCHAR" />
    <result column="isregister" property="isregister" jdbcType="BIT" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="detectedunit_id" property="detectedunitId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, creator, create_time, code, categories_id, start_time, summary, status, 
    case_group_id, isregister, level, longitude, latitude, organization_id, detectedunit_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_case
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_case
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianyi.whcase.model.Case" >
    insert into t_case (id, name, creator, 
      create_time, code, categories_id, 
      start_time, summary, status, 
      case_group_id, isregister, level, 
      longitude, latitude, organization_id, 
      detectedunit_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, #{categoriesId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{summary,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{caseGroupId,jdbcType=VARCHAR}, #{isregister,jdbcType=BIT}, #{level,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER}, 
      #{detectedunitId,jdbcType=INTEGER})
  </insert> 
  <update id="updateByPrimaryKey" parameterType="com.tianyi.whcase.model.Case" >
    update t_case
    set name = #{name,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      categories_id = #{categoriesId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      case_group_id = #{caseGroupId,jdbcType=VARCHAR},
      isregister = #{isregister,jdbcType=BIT},
      level = #{level,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=INTEGER},
      detectedunit_id = #{detectedunitId,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>