<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianyi.whcase.dao.CaseOrganMapper" >
  <resultMap id="BaseResultMap" type="com.tianyi.whcase.model.CaseOrgan" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="INTEGER" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="sender_time" property="senderTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id, organization_id, 
    receive_time, sender_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_case_organ
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCaseIdAndOrganId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_case_organ
    where case_id = #{0} and organization_id = #{1}
  </select>
  <select id="selectRecordLiseByCaseId" resultType="com.tianyi.whcase.viewmodel.caseOrganVM" parameterType="java.lang.String"  >
    select 
     c.id as id,
     o.name as organName
    from t_case_organ c 
    left join t_organ o on c.organization_id = o.id
    where case_id = #{0} 
  </select>
  <select id="selectRecordLiseByorganId" resultType="com.tianyi.whcase.viewmodel.caseOrganVM" parameterType="java.lang.String">
  	select 
     c.id as id,
     o.name as organName
    from t_case_organ c 
    left join t_organ o on c.organization_id = o.id
    where organization_id = #{0} 
  </select>
  <select id="selectCountCaseByReceiveStatusAndOrganId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select
  	count(*)
  	from t_case_organ c 
  	left join t_case a on c.case_id = a.id
  	where c.organization_id = #{0} and a.receive_status= #{1}
  </select>

  <select id="selectByOrganId" resultMap="BaseResultMap" >
  	select
  	<include refid="Base_Column_List" />
    from t_case_organ
    where organization_id = #{0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_case_organ
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tianyi.whcase.model.CaseOrgan" >
    insert into t_case_organ (id, case_id, organization_id, receive_time, 
      sender_time
      )
    values (#{id,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{senderTime,jdbcType=TIMESTAMP}
      )
  </insert> 
  <update id="updateByPrimaryKey" parameterType="com.tianyi.whcase.model.CaseOrgan" >
    update t_case_organ
    set case_id = #{caseId,jdbcType=VARCHAR},
      organization_id = #{organizationId,jdbcType=INTEGER},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      sender_time = #{senderTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>